{% extends 'base.html' %}

{% block title %}
  Login
{% endblock %}

{% block content %}
  <div class="wrapper">
    <h1>Login Page</h1>
    <form method="POST" action="/login">
      {{ form.hidden_tag() }}
      <br>

      <div class="input-box">
        <img src="{{ url_for('static', filename = 'css/images/user.png') }}" />
        {{ form.username(placeholder = 'Username') }}
        {% for error in form.username.errors %}
          <p class="error-message">{{ error }}</p>
        {% endfor %}
      </div>
      
      <div class="input-box">
        <img src="{{ url_for('static', filename = 'css/images/mail.png') }}" />
        {{ form.email(placeholder = 'Email') }}
        {% for error in form.email.errors %}
          <p class="error-message">{{ error }}</p>
        {% endfor %}
      </div>
         
      <div class="input-box">
        <img src="{{ url_for('static', filename = 'css/images/lock.png') }}" />
        {{ form.password(placeholder = 'Password') }}
        {% for error in form.password.errors %}
          <p class="error-message">{{ error }}</p>
        {% endfor %}
      </div>
       <br>
      <div class="remember-forgot">
        <label>
          {{ form.remember() }}
          {{ form.remember.label() }}
        </label>

      </div>
      <br>
      <button type="submit" class="btn">Login</button>
    </form>
  </div>
{% endblock %}
