{% extends 'base.html' %}
{% block title %}
  Loan Prediction Form
{% endblock %}

{% block content %}
  <div class="container mt-5">
    <h2>Loan Prediction Form</h2>
    <form method="post" action="{{ url_for('predict') }}">
      {{ form.csrf_token }}
      <div class="form-group">{{ form.name.label }} {{ form.name(class = 'form-control') }}</div>
      <div class="form-group">
        {{ form.gender.label }}
        {% for choice, label in form.gender.choices %}
          <div class="form-check form-check-inline">{{ form.gender(class = 'form-check-input', value = choice) }}
            {{ label }}</div>
        {% endfor %}
      </div>
      <div class="form-group">{{ form.income.label }} {{ form.income(class = 'form-control') }}</div>
      <div class="form-group">{{ form.co_applicant_income.label }} {{ form.co_applicant_income(class = 'form-control') }}</div>
      <div class="form-group">{{ form.loan_amount.label }} {{ form.loan_amount(class = 'form-control') }}</div>
      <div class="form-group">{{ form.loan_amount_term.label }} {{ form.loan_amount_term(class = 'form-control') }}</div>
      <div class="form-group">
        {{ form.credit_history.label }}
        {% for choice, label in form.credit_history.choices %}
          <div class="form-check form-check-inline">{{ form.credit_history(value = choice) }}{{ label }}</div>
        {% endfor %}
      </div>
      <div class="form-group">{{ form.dependents.label }} {{ form.dependents(class = 'form-control') }}</div>
      <div class="form-group">{{ form.education.label }} {{ form.education(class = 'form-control') }}</div>
      <div class="form-group">{{ form.self_employed.label }} {{ form.self_employed(class = 'form-check-input') }} Self Employed</div>
      <div class="form-group">{{ form.married.label }} {{ form.married(class = 'form-check-input') }} Married</div>
      <div class="form-group">{{ form.property_area.label }} {{ form.property_area(class = 'form-control') }}</div>

      <button type="submit" class="btn btn-primary">Predict</button>
    </form>
  </div>
{% endblock %}
